.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkgoldenrod;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rebeccapurple;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkslategray;
}